# BEGIN WordPress


<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /razorbee/razorbee.com/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /razorbee/razorbee.com/index.php [L]


</IfModule>